baycon/
checkpoints/
data/*.csv
data/*.npy
histories/
images/
__pycache__/
paper_results/
results/
.DS_Store
results_cross_val/
results_cross_val_old/
results_cross_val_paper/
NeurIPs/
score_trends/
example_codes/images/
example_codes/results/
example_codes/histories/
example_codes/checkpoints/
example_codes/__pycache__/
example_codes/data/*.csv
example_codes/data/*.npy


# C extensions
*.so

# Torch model files or datasets
*.pt

# csv files
*.csv

# json files
*.json

# images
*.png
*.jpg
*.jpeg
*.gif
*.xlsx
